

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 4rem 0.8rem 4rem;
	gap: 2rem;
	margin-bottom: 4rem;
}


.chainvault{
	width: 8rem;
	cursor: pointer;
}


.navLinks {
    display: flex;
    margin: 0;
    padding: 0;
}

.navLink {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navLink:hover {
    background-color: rgba(255, 255, 255, 0.2);
}